html {
   position: relative;
   min-height: 100%;
}

body {
   padding-top: 90px;
}

/* xs */
@media only screen and (max-width : 479px) {
   body {
      padding-top: 52px;
   }
   #address_header {
      font-size: 12px;
      padding-left: 0px;
   }
   #phone_header {
      font-size: 12px;
      padding-left: 0px;
   }
   #the_team_caption {
      right: 5%;
      left: 60%;
      top: 15%;
      font-size: 12px;
   }
   #dentist_name {
      margin-top: 30px;
   }
}

/* sm */
@media only screen and (min-width : 480px) and (max-width: 767px) {
   body {
      padding-top: 52px;
   }
   #the_team_caption {
      right: 5%;
      left: 62%;
      top: 40%;
      font-size: 15px;
   }
   #dentist_name {
      margin-top: 30px;
   }
}

/* md */
@media only screen and (min-width : 768px) and (max-width: 991px) {
   body {
      padding-top: 80px;
   }
   #the_team_caption {
      right: 5%;
      left: 62%;
      top: 45%;
      font-size: 20px;
   }
   .services_card {
      height: 310px;
   }
   #dentist_name {
      margin-top: 0px;
   }
}

/* lg */
@media only screen and (min-width : 992px) and (max-width: 1199px) {
   body {
      padding-top: 90px;
   }
   #the_team_caption {
      right: 5%;
      left: 62%;
      top: 50%;
      font-size: 20px;
   }
   .services_card {
      height: 230px;
   }
   #dentist_name {
      margin-top: 0px;
   }
}

/* xl */
@media only screen and (min-width : 1200px) {
   body {
      padding-top: 90px;
   }
   #the_team_caption {
      right: 5%;
      left: 60%;
      top: 45%;
      font-size: 30px;
   }
   .services_card {
      height: 325px;
   }
   #dentist_name {
      margin-top: 0px;
   }
}

.navbar-fixed-top {
   border-bottom: 1px solid #dddddd;
   background: #f5f5f5;
}

#main_nav {
   background-color: #f5f5f5;
   border-color: #f5f5f5;
   margin-bottom: 0px;
}

#main_nav .navbar-header {
   border: 0px solid #dddddd;
}

.main_nav_padding_top {
   height: 20px;
}

@media only screen and (min-width : 768px) {
   .main_nav_padding_top {
      height: 14px;
   }
}

@media only screen and (min-width : 992px) {
   .main_nav_padding_top {
      height: 20px;
   }
}

.main_nav_padding_bottom {
   height: 0px;
}

#main_logo {
   width: 100%;
   padding-top: 7px;
   max-width: 180px;
}

#phone_logo_a {
   padding-left: 10px;
   padding-top: 5px;
   padding-right: 0px;
   padding-bottom: 5px;
}

#phone_logo_img {
   height: 100%;
}

.nav_link_li a {
   border-radius: 10px;
   font-weight: bold;
}

.nav_link_li.active>a {
   color: #280677!important;
}

#contact_info_header {
   background-image: url("./images/contact_background.png");
   background-size: cover;
}

#address_header {
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 30px;
   background-color: #e6e6e6;
   color: #5f5f5f;
}

#phone_header {
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 30px;
   background-color: #f0ad4e;
   color: white;
}

.card {
   /* Add shadows to create the "card" effect */
   box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   background-color: #f5f5f5;
   margin-top: 30px;
}

.card_container {
   padding: 2px 16px;
}

#services_offered_container {
   margin-top: 30px;
}

#the_dentist_section {
   margin-top: 30px;
   padding-bottom: 30px;
   background-color: #f5f5f5;
}

#contact_section {
}

#gmaps_item {
   height: 500px;
   background-color: grey;
}

#hours_card {
   max-width: 270px;
   margin-bottom: 20px;
}

#hours_table {
   width: 100%;
}

#hours_table th, td {
   padding-bottom: 10px;
}

.footer {
   width: 100%;
   /* Set the fixed height of the footer here */
   height: 60px;
   background-color: #f0ad4e;
}

.footer .text-muted {
   margin: 20px 0px;
   color: white;
}
